@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,100;1,400;1,600&family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

:root {
  --primary-color-hue: 252;
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

/*================= GENERAL STYLES =================*/
.container {
  width: 80%;
  margin: 0 auto;
}

.profile-picture {
  width: 2.7rem;
  aspect-ratio: 1/1; /*so that width and height have the same value and for a square*/
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block; /* value="block" so that we can give this inline element the properties of a block element (width, height)*/
  width: 100%; /*100% of his container (profile-picture)*/
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease; /* to smooth the over effect */
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

/*================= NAVBAR =================*/
nav {
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed; /*causes other containers under the nav section to begin on the top of the page. since z-index of nav is 10, these containers will be under the nav container*/
  top: 0;
  z-index: 10; /*the z-index property specifies the stack order of an element*/
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw /* "vw=viewport width" -> 30% of the width of the window */;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

.search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem; /* gap indicates the space between the element of the container .create */
}

/*================= MAIN =================*/
main {
  position: relative;
  top: 5.4rem; /*bring the hidden part of the main container which is under the nav bar to the canvas. Value 5.4 correspond to the sticky value of the LEFT container*/
}

main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw; /*LEFT - MIDDLE - RIGHT*/
  column-gap: 2rem;
  position: relative;
}

/*==== LEFT ====*/
main .container .left {
  height: max-content;
  position: sticky; /*scroll (relatively) until a limit is reached and stay fixed*/
  position: -webkit-sticky; /* Safari */
  top: var(--sticky-top-left);
}

main .container .left .profile {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  width: 100%;
}

/*--- SIDEBAR ---*/
.left .sidebar {
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  /*overflow: hidden; WE CANNOT USE OVERFLOW HIDDEN HERE BECAUSE I WILL PREVENT THE NOTIFICATION COMPONENT TO BE DISPLAYED*/
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.left .sidebar .menu-item:hover {
  background: var(--color-light);
}

.left .sidebar i {
  font-size: 1.4rem; /*size of the icons in the sidbar*/
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative; /*relative because we want to position the notification count as absolute relative to the i tag (icons)*/
}

.left .sidebar i .notification-count {
  background: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active {
  background: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .sidebar .menu-item:last-child .active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

/*--- NOTIFICATION POPUP ---*/
.left .notification-popup {
  position: absolute;
  top: 0;
  left: 110%;
  width: 30rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
  z-index: 8;
  display: none;
}

.left .notification-popup::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: white;
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}

.left .notification-popup > div {
  /* ">" means direct div element */
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left .notification-popup small {
  display: block;
}

/*==== MIDDLE ====*/

/*--- STORIES ---*/
.middle .stories {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  gap: 0.5rem;
}

.middle .stories .story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.75rem;
  width: 100%;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  position: relative;
  overflow: hidden;
}

.middle .stories .story::before {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  position: absolute;
  bottom: 0;
}

.middle .stories .story .name {
  z-index: 2; /*so that the name is displayed on top of the before component of the story which is absolute (~floating) */
}

.middle .stories .story:nth-child(1) {
  background: url("./images/story-1.jpg") no-repeat center center/cover; /*center/cover fits the entire image in the container*/
}

.middle .stories .story:nth-child(2) {
  background: url("./images/story-2.jpg") no-repeat center center/cover; /*center/cover fits the entire image in the container*/
}

.middle .stories .story:nth-child(3) {
  background: url("./images/story-3.jpg") no-repeat center center/cover; /*center/cover fits the entire image in the container*/
}

.middle .stories .story:nth-child(4) {
  background: url("./images/story-4.jpg") no-repeat center center/cover; /*center/cover fits the entire image in the container*/
}

.middle .stories .story:nth-child(5) {
  background: url("./images/story-5.jpg") no-repeat center center/cover; /*center/cover fits the entire image in the container*/
}

.middle .stories .story:nth-child(6) {
  background: url("./images/story-6.jpg") no-repeat center center/cover; /*center/cover fits the entire image in the container*/
}

.middle .stories .story .profile-picture {
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--color-primary);
  align-self: flex-start;
}

/*--- CREATE POST ---*/
.middle .create-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  background: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
  width: 100%;
  justify-self: start;
  padding-left: 1rem;
  background: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
}

/*----- FEEDS -----*/
.middle .feeds .feed {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5; /*The gap between 2 lines of text*/
}

.middle .feeds .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feeds .feed .head .user {
  display: flex;
  /*justify-content: space-between;/*don't work because there .user and .edit have a space between applied*/
  gap: 1rem;
}

.middle .feed .picture {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .feed .liked-by {
  display: flex;
}

.middle .feed .liked-by span {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .feed .liked-by span:first-child {
  margin: 0;
}
.middle .feed .liked-by p {
  margin-left: 0.5rem;
}

/*==== RIGHT ====*/
main .container .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

/*----- MESSAGES -----*/

.right .messages {
  background: white;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .messages .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}

.right .messages .category .active {
  border-color: var(--color-dark);
}

.right .messages .message-requests {
  color: var(--color-primary);
}

.right .messages .message {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.right .message .profile-picture {
  position: relative;
  overflow: visible;
}

.right .message .profile-picture img {
  border-radius: 50%;
}

.right .messages .message:last-child {
  margin: 0;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .messages .message .profile-picture .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

/*----- FRIENDS REQUESTS -----*/
.right .friend-requests {
  margin-top: 1rem;
}

.right .friend-requests h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.right .request {
  background: white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}

.right .request .info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .request .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/*========================== CUSTOMIZATION  ========================*/
.customize-theme {
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /*couleur blanche avec une transparance de 0.5, pour que qu'on puisse voir la page à traver.*/
  width: 100vw; /*équivaut à 100% de la taile de l'écran. On ne pourra pas cliqué sur la page en arrière plan car ce composant est devant*/
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /*Pour que le modal soit toujours l'élement le plus au dessus*/
  text-align: center; /*aligne les élements d'un container a centre (horizontalement) comme la fonction de dispositon de texte de microsoft office*/
  display: grid;
  place-items: center; /*fonctionne avec le grid - place les éléments du grid au centre de l'écran*/
  font-size: 0.9rem;
  display: none;
}

.customize-theme .card {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-primary);
}

/*---------------- FONT SIZES -------------*/
.customize-theme .font-size {
  margin-top: 5rem;
}

.customize-theme .font-size > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
}

.customize-theme .choose-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-secondary);
  height: 0.3rem;
  width: 100%;
  margin: 0 1rem;
}

.customize-theme .choose-size span {
  width: 1rem;
  height: 1rem;
  background: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
}

.customize-theme .choose-size span.active {
  /*span.active - collé parce que la classe est directement à l'intérieur de l'élément span*/
  background: var(--color-primary);
}

/*---------- PRIMARY COLORS - CHOOSE COLOR ---------*/
.customize-theme .color {
  margin-top: 2rem;
}
.customize-theme .choose-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
}

.customize-theme .choose-color span {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
}

/*
    hsl is used because it is more flexible when changing the color. 
    You can just change the hue to have a different color with the same (spirit) because the other values doesn't change 
*/
.customize-theme .choose-color span:nth-child(1) {
  background: hsl(252, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(2) {
  background: hsl(52, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(3) {
  background: hsl(352, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(4) {
  background: hsl(152, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(5) {
  background: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
  border: 5px solid white;
}

/*---------- BACKGROUND COLORS ---------*/
.customize-theme .background {
  margin-top: 2rem;
}

.customize-theme .choose-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.customize-theme .choose-bg > div {
  display: flex;
  align-items: center;
  padding: var(--card-padding);
  width: 100%; /*grâce au flex du parent, les elements auront la même largeur peu importe la taile du texte à l'intérieur*/
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
  gap: 1rem;
}

.customize-theme .choose-bg > div.active {
  border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
  background: white;
  color: black;
}

.customize-theme .choose-bg .bg-2 {
  background: hsl(252, 30%, 17%);
  color: white;
}

.customize-theme .choose-bg .bg-3 {
  background: hsl(252, 30%, 10%);
  color: white;
}

.customize-theme .choose-bg > div span {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
}

/*========================== 
MEDIA QUERIES FOR SMAL LAPTOPS AND BIG TABLETS  
========================
*/
@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 5rem auto 30vw;
  }

  main .container .left {
    width: 5rem;
    z-index: 5; /*de telle sorte qu'il soit au dessus de tous les autre compartiments (middle, right, navbar)*/
  }

  main .container .left .profile {
    display: none;
  }

  main .container .left .sidebar h3 {
    display: none;
  }

  main .container .left .btn {
    display: none;
  }

  .customize-theme .card {
    width: 80vw;
  }
}

/*========================== 
MEDIA QUERIES FOR SMALL TABLETS AND MOBILE PHONES  
========================
*/
@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }

  main .container {
    grid-template-columns: 0 auto 5rem;
    gap: 0;
  }

  main .container .left {
    /*
            in the grid system the first column/row has value 1 and the last has value n+3
            in our case 
            LEFT is the first column with value 1
            MIDDLE is the second column with value 3
            RIGHT is the third column with value 3
            LAST(GOST COLUMN) has value 4
            So when we say grid-column:3/4 on the LEFT column we are pushing this column from value 1 to 3 which will replace the RIGHT column
        */
    grid-column: 3/4; /*no needed infact because of the positon fixed (floating)*/
    position: fixed;
    bottom: 0;
    right: 0;
  }

  main .container .left .notification-popup {
    position: absolute;
    left: -20rem;
    width: 20rem;
  }

  main .container .left .notification-popup::before {
    position: absolute;
    top: 1.3rem;
    left: calc(20rem - 0.6rem);
    display: block;
  }

  main .container .middle {
    grid-column: 1/3;
  }

  main .container .right {
    display: none;
  }

  .customize-theme .card {
    width: 92vw;
  }
}
